<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Glycosylation Options</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div ng-controller="DataCtrl">
        <div class="row-md-4">
          <label>Glycan</label>
          <div class="btn-group" data-toggle="buttons">
            <label
              class="btn btn-fragment"
              ng-class="{'active': checkModel.glycanOption.value === 'fullGlycanAttached'}"
            >
              <input
                type="radio"
                name="glycanOptions"
                ng-model="checkModel.glycanOption.value"
                value="fullGlycanAttached"
              />
              Full Glycan Attached
            </label>
            <label
              class="btn btn-fragment"
              ng-class="{'active': checkModel.glycanOption.value === 'partialGlycanHexNAcAttached'}"
            >
              <input
                type="radio"
                name="glycanOptions"
                ng-model="checkModel.glycanOption.value"
                value="partialGlycanHexNAcAttached"
              />
              Only HexNAc Attached
            </label>
            <label
              class="btn btn-fragment"
              ng-class="{'active': checkModel.glycanOption.value === 'fullGlycanLost'}"
            >
              <input
                type="radio"
                name="glycanOptions"
                ng-model="checkModel.glycanOption.value"
                value="fullGlycanLost"
              />
              Full Glycan Lost
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <button
              class="btn btn-primary"
              ng-click="renderData()"
              ng-disabled="!idObject.selectedSequence || !filteredAnnotatedResults"
            >
              Update Render
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
